# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Dados (muito pesados pra GitHub)
data/*.duckdb
data/*.csv
data/*.parquet
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Ambiente
.env
.env.local
